<% form_tag({:action => 'changing_new_password',:id => @user}) do %>
    <table>
       <tfoot>
	        <tr>
	            <td colspan="2">
					<%=submit_tag "Change Password"%>
	            </td>
	        </tr>
    	</tfoot>
   		<tbody>
	        <tr>
	        <td>
	            <h4><%= flash[:notice] if flash[:notice]!= nil %></h4>
	        </td>
	        </tr>
	        <tr>
	            <td>
	                <label for="user_email">
	                   Email Id:
	                   
	                </label>
	            </td>
	            <td>
	                <%= text_field 'user', 'email',:readonly=>true,:class=>"textBoxWidth" %>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <label for="user_old_password">
	                   Old Password:
	                    
	                </label>
	            </td>
	            <td>
	                <%= password_field 'user', 'old_password',:value=>"",:class=>"textBoxWidth" %>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <label for="user_password">
	                    New Password:
	                    
	                </label>
	            </td>
	            <td>
	                <%= password_field 'user', 'password',:value=>"",:class=>"textBoxWidth" %>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <label for="user_password_confirmation">
	                    Confirm Password:
	                    
	                </label>
	            </td>
	            <td>
	                <%= password_field 'user', 'password_confirmation',:class=>"textBoxWidth" %>
	            </td>
	        </tr>
   	    </tbody>
	</table>
<%end %>